# Define a host for the nagios server
define host{
        use                     prod-server            ; Name of host template to use
        host_name               Nagios
        alias                   Nagios
        address                 10.1.191.253
        }

# Define a service to "ping" the local machine

define service{
        use                             prod-service         ; Name of service template to use
        host_name                       Nagios
        service_description             PING
        check_command                   check_ping!100.0,20%!500.0,60%
        }

# Define a service to check the disk space of the root partition
define service{
        use                             prod-service         ; Name of service template to use
        host_name                       Nagios
        service_description             Root Partition
        check_command                   check_local_disk!20%!10%!/
        }

# Define a service to check the number of currently logged in
define service{
        use                             prod-service         ; Name of service template to use
        host_name                       Nagios
        service_description             Current Users
        check_command                   check_local_users!20!50
        }

# Define a service to check the number of currently running procs
define service{
        use                             prod-service         ; Name of service template to use
        host_name                       Nagios
        service_description             Total Processes
        check_command                   check_local_procs!250!400!RSZDT
        }

# Define a service to check the load
define service{
        use                             prod-service         ; Name of service template to use
        host_name                       Nagios
        service_description             Current Load
        check_command                   check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
        }

# Define a service to check the swap usage
define service{
        use                             prod-service         ; Name of service template to use
        host_name                       Nagios
        service_description             Swap Usage
        check_command                   check_local_swap!20!10
        }

# Define a service to check SSH
define service{
        use                             prod-service         ; Name of service template to use
        host_name                       Nagios
        service_description             SSH
        check_command                   check_ssh
        }

# Define a service to check memory
define service{
        use                             prod-service         ; Name of service template to use
        host_name                       Nagios
        service_description             Memory Usage
        check_command                   check_memory!80!90
        }

# Define a service to check HTTP
define service{
        use                             prod-service         ; Name of service template to use
        host_name                       Nagios
        service_description             HTTP
        check_command                   check_http!-H prodnagios.platform.nektan.com -I 10.1.191.253 --ssl -p 443 -u / -a nagiosadmin:nagiosadmin -e "HTTP/1.1 200"
        check_interval                  1
        retry_interval                  1
        max_check_attempts              2
        notification_interval           1
        }

# Define a service to check SSL certificate expiry
define service{
        use                             prod-service         ; Name of service template to use
        host_name                       Nagios
        service_description             SSL Certificate
        check_command                   check_http!-H  -I 10.1.191.253 -C 30,15
        }

# Define a service to check Disk IO
define service{
        use                             prod-service         ; Name of service template to use
        host_name                       Nagios
        service_description             Disk IO
        check_command                   check_diskio!-H localhost -d vda -w 200,100000,100000 -c 300,200000,200000
        }

# Define a service to check Net IO
define service{
        use                             prod-service         ; Name of service template to use
        host_name                       Nagios
        service_description             Network
        check_command                   check_iftraffic! -i eth0 -p -B
        }
